<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <form action="/jobs" method="post">

            <label for="title">Enter Job Title</label>
            <input type="text" name="title" id="title">

            <label for="description">Enter Job description</label>
            <input type="text" name="description" id="description">

            <label for="name">Enter your name</label>
            <input type="text" name="name" id="name">

            <label for="email">Enter your email</label>
            <input type="text" name="email" id="email">

            <label for="phone">Enter Job phone</label>
            <input type="text" name="phone" id="phone">

            <button type="submit" name="button">Post Job!</button>

        </form>

    </body>
</html>
