<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Job Board</title>
    </head>
    <body>
        <h1>Job Board</h1>
        <button type="button" name="button"><a href="/formNewJob">Create a new Job</a></button>

        <button type="button" name="button"><a href="/jobs">View all Jobs</a></button>
    </body>
</html>
